
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(172, 152, 152, 0.5);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  display: none;
}

